.carousel-item {
  height: 60vh;
}

.biggerSize {
  font-size: 1.5rem;
}

.img-fluid {
  object-fit: cover;
}

.img-cover {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.colors-block {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
  grid-gap: 10px;
}

.image-card {
  margin-top: -60px;
}

.features-icon {
  height: 90px;
}

#responses .card:hover {
  background: #3292a6;
  color: #fff;
}

#carousel1 {
  background: no-repeat url("../images/carousel/1.jpg");
}

#carousel2 {
  background: no-repeat url("../images/carousel/2.jpg");
  background-size: cover;
}

#carousel3 {
  background: no-repeat url("../images/carousel/3.jpg");
}

#section3 {
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), no-repeat center url("../images/background/1.jpg");
  background-attachment: fixed;
  background-size: cover;
}

#section4 {
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), no-repeat center url("../images/background/2.jpg");
  background-attachment: fixed;
  background-size: cover;
}