body {
  position: relative;
}

.carousel-item {
  height: 60vh;
}

.small-devices-image {
  height: 60vh;
  background: no-repeat url("../images/smallDeviceImages/1.webp");
  background-position: top;
  background-size: cover;
  background-attachment: scroll;
}

.biggerSize {
  font-size: 1.5rem;
}

.img-fluid {
  object-fit: cover;
}

.img-cover {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.colors-block {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
  grid-gap: 10px;
}

.image-card {
  margin-top: -60px;
}

.features-icon {
  height: 90px;
}

.navbar {
  box-shadow: 2px 2px 5px #3292a6;
  background: #fff;
}

footer {
  box-shadow: inset 0px 0px 3px rgba(0, 0, 0, 0.5);
}

#contact-buttons {
  z-index: 10;
  position: fixed;
  bottom: 0;
  right: 0;
}

.fa-facebook-f, .fa-instagram, .fa-phone {
  color: #fff;
}

.fa-circle-custom {
  background: #3292a6;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: grid;
  text-align: center;
  padding: 9px 0px;
}

.fa-bg-white {
  background: #fff;
  border-radius: 50%;
}

#responses .card:hover {
  background: #3292a6;
  color: #fff;
}

#carousel1, #carousel2, #carousel3 {
  background-size: cover;
  background-position: center center;
}

#carousel1 {
  background: no-repeat url("../images/carousel/1.webp");
}

#carousel2 {
  background: no-repeat url("../images/carousel/2.webp");
}

#carousel3 {
  background: no-repeat url("../images/carousel/3.webp");
}

#section3 {
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), no-repeat center url("../images/background/1.webp");
}

#section4 {
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), no-repeat center url("../images/background/2.webp");
}

#section5 {
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), no-repeat center url("../images/background/3.webp");
}

#section3, #section4, #section5 {
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
}

@media only screen and (max-width: 768px) {
  .display-4 {
    font-size: 1.9rem;
    margin-bottom: 0;
  }

  .biggerSize {
    font-size: 1.2rem;
  }

  #section3, #section4, #section5 {
    background-attachment: scroll;
  }
}
@media only screen and (max-width: 576px) {
  .display-4 {
    font-size: 1.5rem;
    margin-bottom: 0;
  }

  .biggerSize {
    font-size: 1rem;
  }

  .colors-block {
    grid-template-columns: repeat(auto-fit, minmax(45px, 1fr));
  }
}